version: "3.9"

services:
  api:
    build: .
    container_name: ecommerce_api
    restart: always
    command: uvicorn main:app --host 0.0.0.0 --port 8000 
    ports:
      - "8000:8000"
    environment:
      - ENV=production
      - DATABASE_URL=${DATABASE_URL}
    volumes:
      - .:/fastapi_app  # mount your code inside the container
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 30s
      timeout: 5s
      retries: 3
